

.loadingWheel {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.loadingWheel div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid #136132;
  border-radius: 50%;
  animation: loadingWheelAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #136132 transparent transparent transparent;
}
.loadingWheel div:nth-child(1) {
  animation-delay: -0.45s;
}
.loadingWheel div:nth-child(2) {
  animation-delay: -0.3s;
}

.loadingWheel div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loadingWheelAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
