/* blogPage.module.css */

.blog_container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: 'Arial', sans-serif;
  line-height: 1.7;
  color: #1a1a1a;
}

.bannerImageWrapper {
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 8px;
}

.bannerImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.textWrapper h1 {
  font-size: clamp(1rem, 5vw, 1.8rem);
  margin-bottom: 1rem;
  font-weight: 700;

}

.textWrapper .description {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
}

.blogContent {
  font-size: 1rem;
  color: #333;
}

.blogContent p {
  margin-bottom: 1rem;
}

.blogContent h2 {
  margin-top: 2rem;
  /* margin-bottom: 1rem; */
  font-size: 1.8rem;
  color: #222;
  /* text-align: unset; */
  width: 100%;
  border-left: 5px solid green;
  padding-left: 10px;
  margin: 0;

}

.blogContent h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #222;
}

.blogContent a {
  color: #1e90ff;
  text-decoration: underline;
}

.blogContent img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 6px;
}

.blogContent ul,
.blogContent ol {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.blogContent pre {
  background-color: #f5f5f5;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 6px;
  margin: 1rem 0;
}

.blogContent code {
  font-family: 'Courier New', monospace;
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
}

