.blog_container {
    width: 100%;
    margin: auto;
    min-height: 50vh;
}

.header {
    width: 100%;
    display: flex;
    padding: 20px;
}

.mainSection {
    width: 100%;
    padding: 20px;
}


.bannerImage {
    /* width: 40%; */
    max-width: 400px;
    height: fit-content;
    object-fit: contain;
}


.mainContentBox h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: green;
}

.mainContentBox {
    width: 100%;
    max-width: 800px;
}


.sections {
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 20px;
    height: fit-content;
    flex-wrap: wrap;
    gap: 40px;
}


.sections:nth-child(even) {
    /* justify-content: flex-start; */
    flex-direction: row-reverse;

}

.sections:nth-child(even) .sectionContent {
    align-items: center;
}

.sections h2 {
    width: fit-content;
    margin: 0;
    padding: 20px 0;
    font-size: 2.5rem;
}

.sectionImageWrapper {
    width: fit-content;
    height: fit-content;
    min-width: 350px;
    padding: 40px 0;
}

.sections img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
}

.sectionContent {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: flex-end; */
}

.sectionContent p {
    font-weight: 300;
    text-align: justify;
}