.blog,
.blogSkeletonBox {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
}

.blog:hover {
    transition: all 0.3s ease-in-out;
    background-color: #ffffff69;
}



.blog img,
.sekeltonImage {
    width: 100%;
    height: auto;
    max-width: 450px;
    width: 45vw;
}

.blog section:nth-child(2),
.blogSkeletonBox section:nth-child(2) {
    width: 100%;
    max-width: 600px;
    height: fit-content;
    padding: 0 20px;
    text-align: center;
    flex: 1 1 auto;
    position: relative;
}

.blog section:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('/images/logo.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center 40%;
    opacity: 0.08;
    /* Adjust opacity here */
    z-index: -1;
}

.blog h3 {
    /* line-height: 60px; */
    font-size: clamp(10px, 2vw, 1.4rem);
    font-weight: 500;
}

.blog p {

    font-size: clamp(10px, 2vw, 16px);
}

.blog a {
    margin: 20px auto;
    padding: 10px 20px;
    max-width: fit-content;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 50px;
    display: block;
    font-size: clamp(8px, 2vw, 14px);
}

.blogSkeletonBox {
    box-shadow: none;
    border: none;
    box-shadow: 8px;
    overflow: hidden;
}

.blogSkeletonBox .sekeltonImage {
    background: #ccc;
    height: 30vw;
    max-height: 300px;
    border-radius: 20px;

}

.skeletonTitle {
    width: 60%;
    height: 20px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 0 auto 15px;
}

.skeletonText {
    width: 70%;
    height: 8px;
    background-color: #ccc;
    border-radius: 8px;
    margin: 8px auto;
}

.skeletonButton {
    width: 30%;
    height: 30px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 8px auto;
}


@media (max-width: 900px) {

    .blog section,
    .blogSkeletonBox section {
        width: 50%;
    }

    .blog {
        flex-direction: row;
        width: 90vw;
        min-width: 90vw;
        max-width: 90vw;
    }

}