.blog,
.blogSkeletonBox {
    width: 100%;
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
    padding: 50px 30px;
    gap: 20px;
}

.blog:hover {
    transition: all 0.3s ease-in-out;
    background-color: #ffffff69;
}




.blog section:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('/images/logo.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center 40%;
    opacity: 0.08;
    /* Adjust opacity here */
    z-index: -1;
}

.image_wrapper {
    width: 100%;
    max-width: fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog img,
.sekeltonImage {
    width: 70vw;
    max-height: 400px;
    height: auto;
    max-width: 600px;
    object-fit: contain;
}

.blog .text_content,
.blogSkeletonBox section:nth-child(2) {
    width: 100%;
    max-width: 700px;
    height: fit-content;
    padding: 0 20px;
    text-align: start;
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog h3 {
    /* line-height: 60px; */
    font-size: clamp(18px, 2vw, 3rem);
    font-weight: 500;
}

.blog p {

    font-weight: 200;
    /* font-size: clamp(10px, 2vw, 16px); */
}

.blog a {
    margin: 20px 0;
    padding: 15px 30px;
    max-width: fit-content;
    background-color: green;
    color: var(--background-color);
    border-radius: 50px;
}

.blogSkeletonBox {
    box-shadow: none;
    border: none;
    box-shadow: 8px;
    overflow: hidden;
}

.blogSkeletonBox .sekeltonImage {
    background: #ccc;
    height: 30vw;
    max-height: 300px;
    border-radius: 20px;

}

.skeletonTitle {
    width: 60%;
    height: 20px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 0 auto 15px;
}

.skeletonText {
    width: 70%;
    height: 8px;
    background-color: #ccc;
    border-radius: 8px;
    margin: 8px auto;
}

.skeletonButton {
    width: 30%;
    height: 30px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 8px auto;
}


@media (max-width: 900px) {

    .blog section,
    .blogSkeletonBox section {
        width: 50%;

    }

    .blog {
        flex-wrap: wrap;
        flex-direction: row;
        width: 90vw;
        min-width: 90vw;
        max-width: 90vw;
        justify-content: center !important;
        align-items: center;
        padding: 20px 0;
    }

    .image_wrapper {
        max-width: 100%;
    }

    .image_wrapper img {
        width: 90vw;

    }

}