.checkout_container {
    width: 100%;
    min-width: 450px;
    max-width: 900px;
    margin: 10px auto;
    padding: 0 20px;
}

.productList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.productList .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
}

.product img {
    width: 80px;
    height: 80px;
}

.price {
    padding: 10px 0;
}

.address_section {
    margin: 20px 0;
    width: 100%;
    overflow: hidden;
}

.address_section_in,
.promo_section {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 150px;
}

.address_section button,
.promo_section button {
    height: 100%;
    padding: 15px;
    border-radius: 0;
}


.new_address_form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.new_address_form input {
    width: 100%;
    padding: 6px;
    font-size: 0.95rem;
    display: block;
    margin: 10px auto;
}

.new_address_form button {
    padding: 15px;
    width: 200px;
    width: 100%;
}

.pay_btn {
    width: 100%;
    font-size: 0.9rem;
    padding: 17px;
    margin: 50px auto;
    max-width: none;
}

.amount_section {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.amount_section span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 6px 10px;

    border-bottom: 1px solid #ccc;
}

@media screen and (max-width:700px) {
    .address_section_in {
        grid-template-columns: 1fr 10vw;
    }

    .address_section select {
        max-width: 80vw;
    }
}