.container{
    width: 100%;
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_box{
    padding: 50px 20px;
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    height: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);

    background-color: white;
}


.error_box h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: fit-content;
    color: #333;
}

.error_box p{
    max-width: fit-content;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.error_box button{
    color: green;
    border: 1px solid;
    background:transparent;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.error_box button:hover{
    background-color: green;
    color: white;
}