/* Define CSS Variables for Easy Customization */


/* Sections */
.home_container section {
  width: 100%;
  text-align: center;
  /* padding: 20px 0; */
  /* padding: var(--home-padding); */
}

/* General Page Styling */
.home_container {
  background: var(--home-bg-color);
  color: var(--home-text-color);
  overflow: hidden;
}

/* Hero Section */
.home_container .hero_section {
  width: 100%;
  height: fit-content;
  /* flex-direction: column; */

}

.home_container .hero_section_in1 {
  width: 100%;
  max-width: 98%;
  height: 40vw;
  max-height: 60vh;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background: var(--hero-banner-color) url("/images/oil_bottle_duble.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: var(--shadow-light);
  text-align: unset;

}

.hero_text {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  right: 20px;
  /* margin: 0 50px; */
  width: fit-content;
  height: fit-content;
}

.hero_head {}


.home_container h2 {
  padding: 20px 0;
}




/* Hero Text */

.home_container .glow_text {
  font-size: clamp(0.5rem, 3vw, var(--heading-font-size));
  font-weight: 400;
  color: var(--heading-color);
  width: fit-content;
}

.home_container .subtext {
  font-size: clamp(8px, 1vw, var(--subtext-font-size));
  color: var(--secondary-color);
  margin: 10px 0;
  width: fit-content;
}

/* Button */
.home_container .shop_btn {
  max-width: 200px;
  /* margin-top: 20px; */
  padding: 8px 25px;
  font-size: clamp(8px, 1vw, var(--button-font-size));
  background: var(--primary-color);
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  /* margin: 0 20px; */
}

.home_container .shop_btn:hover {
  background: var(--button-hover);
  transform: scale(1.05);
}



.product_display {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: #f8f8f6;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 98%;
  box-shadow: var(--shadow-light);

}

.product_display_in {
  width: 100%;
  max-width: 90%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, calc(50% - 25px)));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
}

.product_display .product_display_card {
  width: 100%;
  height: 100%;
  min-height: clamp(300px, 30vw, 400px);
  border-radius: 10px;
  box-shadow: 0 0 20px -10px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 20px 0;

  background: linear-gradient(160deg, var(--card-background) 60%, #e0d7b9);
  /* background-color: #e0d7b9; */
}

.product_display .product_display_card img {
  width: clamp(200px, 25vw, 400px);
  height: 100%;
  object-fit: contain;
}

.product_display_card_text {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}

.product_display .product_display_card h3 {
  padding: 10px;
  font-size: clamp(0.9rem, 1.2vw, 2rem);
  color: var(--heading-color);
}

.product_display_card_price {
  font-size: clamp(2rem, 2vw, 4rem);
  margin: 20px 0;

}

.product_display_card_text a {

  font-size: clamp(0.75rem, 1.2vw, 1.2rem);
  width: fit-content;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: var(--shadow-light);
}

/* Benefits Section */
.home_container .benefits_section {
  width: 90%;
  margin: auto;
  border-radius: 20px;
  box-shadow: var(--shadow-light);
  position: relative;
  background-color: var(--primary-color);
  padding: 80px 0;

}

.benefit_card_holder {
  width: fit-content;
  padding: 0 20px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 2px auto;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.benefit_card {
  overflow: hidden;
  height: 20vw;
  align-self: center;
  justify-self: center;
  width: 20vw;
  max-height: 200px;
  max-width: 200px;
  min-width: 170px;
  min-height: 170px;
  flex-shrink: 1;
  padding: 15px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-color);

  color: var(--home-text-color);
  box-shadow: var(--shadow-light);
  font-weight: 100;
  font-size: 0.7rem;
}

.benefit_card img {
  height: 50%;
  width: auto;
}



.trending_product {
  /* background: #67AA79; */
  padding: 60px 0 0;
}

/* Product Card */
.productCard {
  flex: 1 1 auto;
  scroll-snap-align: start;
  width: 20vw;
  min-width: 240px;
  min-height: 300px;
  height: fit-content;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 0 3px;
  background-color: var(--card-background);
  cursor: pointer;
  position: relative;
  /* scale: 0.8; */
}

.product_info {
  height: fit-content;
  width: 90%;
  text-align: left;
  padding: 10px;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;

}

.product_info h3 {
  font-size: 18px;
  padding: 10px 20px;
  color: var(--heading-color);
}

.productCard img {
  width: 100%;
  object-fit: contain;
  height: 400px;
  transition: all 0.4s;

}

.productCard:hover img {
  scale: 0.8;
}

.action_btn {
  display: none;
  position: absolute;
  background: linear-gradient(180deg, transparent, var(--card-background));
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.4s;
  top: 0;
  left: 0;

}

.productCard:hover .action_btn {
  display: flex;

}

.action_btn button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 100%;
  padding: 8px;

}


.productCard a {
  padding: 10px 15px;
  max-width: fit-content;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
}

.blogs {
  width: 100%;
  padding: 20px 5px;
}

.blog_in {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 18px;

}

/* About Section */

.about_section {
  padding: 20px 0;
}

.about_in {
  background-color: rgb(35, 33, 33);
  padding: 0 30px;
  min-height: 600px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  width: 90%;
  margin: auto;
  border-radius: 20px;
  box-shadow: var(--shadow-light);

}


.about_text {
  width: 40%;
}

.about_image {
  height: auto;
  width: 50%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_image img {
  max-width: 380px;
  max-height: 380px;
}

.about_in h3 {
  color: white;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 400;
  padding: 20px 0;
}

.about_in a {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: white;
  color: black;
}


.effects {
  width: 90%;
  max-width: 90%;
  margin: auto;
  border-radius: 20px;
  box-shadow: var(--shadow-light);

  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 0;
}

.effects img {
  /* border: 10px solid var(--primary-color); */
  width: 50%;
  height: fit-content;
  max-height: 500px;
  box-shadow: var(--shadow-light);
}

.effects::after,
.effects::before {
  content: 'Before';
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 0;
  display: flex;
  width: 30%;
  min-width: 200px;
  height: 100px;
  z-index: 1;
  background: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.668));
  align-items: center;
  justify-content: center;
}

.effects::before {
  content: 'After';
  right: 0;
  left: unset;
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.668));
}

/* Reviews */
.home_container .reviews_section {
  width: 100%;
  background-color: var(--card-background);
  display: flex;
  align-items: center;
  justify-self: center;
}

.review_in {
  /* width: 100%; */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 100%;
  margin: auto;
  /* padding: 0 50px; */

}

.review_card {
  width: 400px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 35, 35);
  box-shadow: var(--shadow-light);
  padding: 30px;
}

.review_card img {
  border-radius: 50%;
  height: fit-content;
  width: 100px;
}

.review_card .review_info {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

.review_card .review_info section {
  padding: 4px 10px;
  text-align: left;
}

.review_info section:nth-child(1) {
  font-weight: bold;
}

.review_info section:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2px;
  font-size: 12px;
  color: rgb(157, 157, 30);
}

.review_info section:nth-child(3) {
  font-size: 14px;
  color: rgb(145, 137, 137);
}

.services {
  padding: 20px;
  /* background: var(--primary-color); */
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr)); */
  gap: 20px;
}

.services .service_banner {
  width: calc(50% - 10px);
  position: relative;
  height: 400px;
  box-shadow: var(--shadow-light);
}


.services .service_banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  display: block;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.548), var(--hero-banner-color));
}

.services .service_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_banner h3 {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 30px;
  color: var(--background-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}





.subscribe_section {
  height: fit-content;
  width: 100%;
  /* background: url("/images/wavesOpacity.svg") white; */
}

.subscribe_bg {
  width: 100%;
  height: 100%;
}

.subscribe_bg img {
  transform: rotateZ('90deg');

  width: 100%;
  height: 100%;
}

.subscribe_section input {
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid gray;
  outline: none;
  width: 50vw;
}

/* Responsive Styles */
@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1100px) {



  .review_card {
    width: 170px;
    height: fit-content;
    flex-direction: column;
    padding: 20px 10px;

  }


  .about_in {
    justify-content: center;
    align-items: center;

    padding: 50px;
  }

  .about_in .about_text {
    width: 100%;
  }

  .review_card .review_info section {
    border-bottom: 1px solid rgba(116, 112, 112, 0.21);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-self: center;
  }
}

@media screen and (max-width: 900px) {


  .service_banner h3 {
    scale: 0.8;
    font-size: 1.4rem;
  }

  .services .service_banner:nth-child(3),
  .service_banner:nth-child(4) {
    flex-shrink: 0;
    width: 100%;
    height: 200px;
  }


  .benefit_card span {
    display: none;
  }

  .benefit_card img {
    height: 100%;

  }

}


@media screen and (max-width: 800px) {
  .home_h2 {
    font-size: 7vw;
  }

  .home_container .hero_section_in1 {
    max-width: 100%;
    border-radius: 0px;
  }

  .benefit_card {
    min-height: 100px;
    min-width: 100px;
    height: 130px;
    width: 130px;
  }

}


@media screen and (max-width: 700px) {

  .benefit_card_holder {
    width: 100%;
    padding: 0 10px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .benefit_card {
    width: 150px;
    height: 150px;
  }

  .hero_head {
    text-align: center;
  }

  .shop_btn {
    position: relative;
    right: -40px;
  }

}

@media screen and (max-width: 650px) {
  .product_display {
    border-radius: 0;
    max-width: 100%;
    width: 100%;
  }

  .product_display_in {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    grid-template-columns: repeat(auto-fit, calc(100% - 20px));
    grid-template-rows: repeat(auto-fit, repeat(2, 1fr));
  }
}