.container {
    width: 100%;
    min-height: 500px;
}

.header {
    width: 100%;
    max-width: 900px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.header h1 {
    font-size: 3rem;
}

.header p {
    font-weight: 300;
    font-size: 12px;
}

.policies {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
}

.policies section {
    padding: 20px;
}

.policies section p {
    font-weight: 300;
    padding: 20px;
}

.list {
    padding: 0 40px;
    font-weight: 300;
}