.product_container {
    width: 100%;
    margin: auto;
}

.expandable_section {
    padding: 10px;
}

.expandable_title {
    padding: 10px;
}

.expandable_content {
    padding: 10px;
}

/* section {
    max-width: 1400px;
} */

.sec_1 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(205, 242, 224, 0.381);
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
    padding: 20px 0;

}

.carousel {
    height: fit-content;
    width: clamp(400px, 100%, 450px);
    overflow: hidden;
}

.carousel img {
    flex: 1 1 auto;
    scroll-snap-align: start;
    width: fit-content;
    max-height: 450px;
    object-fit: contain;
}

.sec_1 .details div {}


.paths {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: end; */
    gap: 10px;
    padding: 20px 0;
    font-size: clamp(8px, 2vw, 14px);
}

.sec_1 .details .product_name {
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-weight: 700;
    color: green;

}


.sec_1 .details {
    padding: 0 10px;
    max-width: 600px;
    height: fit-content;
}

.ratings {
    width: 100%;
    font-size: 0.6rem;
    color: rgb(198, 198, 16);
    display: flex;
    align-items: center;
    gap: 3px;
}

.ratings span:last-child {
    color: black;
    font-weight: 500;
    font-size: 0.8rem;
}

.price_quantity {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;

}

.price_quantity div {
    height: 80px;
}

.price {
    padding: 20px 0;
    width: 50%;
    max-width: fit-content;
    font-size: 2.2rem;
    /* border-bottom: 1px solid #ccc; */
}

.discount_perc {
    font-weight: 500;
    font-size: clamp(12px, 2vw, 1.5rem);
    width: fit-content;
    color: red;

}

.price .salePrice {
    font-size: clamp(24px, 4vw, 2.5rem);
    color: rgb(47, 101, 47);
    font-weight: bold;
}

.originalPrice {
    width: fit-content;
    padding: 20px;
    color: rgb(84, 81, 81);
    text-decoration: line-through;
    font-weight: 500;
    font-size: 18px;
}

.quantity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    font-size: 1.5rem;
}

.quantity button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(120px, 100%, 250px);
    height: 20px;
    padding: 20px 20px;
    background: none;
    border: 1px solid green;
    box-shadow: none;
    color: black;
}

.description {
    color: #565353;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 20px 0;
}



.action_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 5px;
}

.action_btn button {
    border-radius: 1px;
    width: 100%;
    max-width: 600px;
}

.action_btn button:nth-child(1) {
    background-image: unset;
    background-color: unset;
    color: green;
    border: 1px solid green;
}

.action_btn button:nth-child(2) {
    background-image: unset;
    background-color: green;
}

.quick_links {
    width: 100%;
    padding: 0 5px;
}


.quick_links ul {
    /* padding: 0 16px; */
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 2px;
    flex-wrap: wrap;
}

.quick_links ul li {
    width: fit-content;
    height: fit-content;
    color: black;
    background-color: #ccc;
    font-size: 10px;
    border-radius: 20px;
    padding: 5px 9px;
    /* margin: auto; */
}

.variants {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 0;
    gap: 20px;
    overflow: auto;

}

.variant_card {
    flex: auto 1 1;
    scroll-snap-align: start;
    width: 100%;
    max-width: 130px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.variant_card img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.variant_text {
    font-size: 10px;
    color: #eaeaea;
    min-height: 30px;
    background-color: var(--primary-color);
    text-align: center;
    padding: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.variant_price {
    font-weight: bold;
    font-size: 11px;
}

.suitable_cards {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.suitable_cards .suitable_images {
    width: 40vw;
    max-width: fit-content;
    max-height: fit-content;
    height: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.suitable_images img {
    width: 100%;
    object-fit: contain;
}

.more_information {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.more_information div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.more_information div span {
    font-weight: bold;
    color: green;
    max-width: 300px;
}

.more_information div p {
    max-width: 300px;
}

.more_information table {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: clamp(10px, 2vw, 16px);
}


.more_information table tr {
    border-bottom: 1px solid green;
    width: 100%;
}

.more_information table td {

    padding: 10px 20px;
    width: 50%;
}

.more_information table td:nth-child(2) {

    text-align: right;
}


.customer_feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--card-background);
    padding: 20px 0;
}




/* rate score div */
.rating_div_1 {
    width: 40%;
    min-width: 200px;
}

.rate_score {
    font-size: clamp(4rem, 7vw, 5rem);
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
}

.rate_stars {
    width: fit-content;
    height: fit-content;
    font-size: clamp(2rem, 7vw, 5rem);
    margin: auto;
}


/* review cards div */
.rating_div_2 {
    width: 100%;
    max-width: fit-content;
    overflow: auto;
}

.rating_div_2_in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

}

.review_card {
    display: flex;

    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid green;
    /* border-radius: 6px; */
    background-color: transparent;
    overflow: hidden;
    min-width: 300px;
}

.review_card img {
    border-radius: 50%;
    height: fit-content;
    width: 40px;
    margin: 10px;
}

.review_card .review_info {
    width: 100%;
    height: 100%;
    color: rgb(10, 10, 10);
    display: flex;
    padding: 10px;
    flex-direction: column;

}

.review_card .review_info section {

    display: flex;
}

.review_info section:nth-child(1) {
    font-weight: bold;
}

.review_info section:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2px;
    font-size: 8px;
    color: rgb(157, 157, 30);
}

.review_info section:nth-child(3) {
    font-size: 14px;
    padding: 9px 0;
    color: rgb(145, 137, 137);
}

/* write feedback div */
.rating_div_3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 1100px;
    border: 1px solid #ccc;
}

.rating_div_3 input {
    width: 75%;
    min-width: 150px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.apply_section {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.apply_box {
    width: 100%;
    min-height: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.apply_box img {
    width: 100%;
    max-width: 300px;
    object-fit: contain;
}

.apply_box div {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
}

.apply_box h4 {
    font-weight: bold;
    font-size: 2rem;
}

.sec {
    padding: 40px;
}

.detail_title {
    padding: 10px;
}

.detail_para {
    padding: 10px 19px;
}

.other_details {
    padding: 10px;
}

.other_details div {
    padding: 10px;
}

.notes ul {
    /* padding: 10px; */
}

.notes li {
    padding: 10px 5px;
}

.more_products {
    width: 100%;
}