.product_container {
    width: 100%;
    margin: auto;
}

.expandable_section {
    padding: 10px;
}

.expandable_title {
    padding: 10px;
}

.expandable_content {
    padding: 10px;
}

/* section {
    max-width: 1400px;
} */

.sec_1 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(205, 242, 224, 0.381);
    justify-content: space-around;
    flex-wrap: wrap;
    height: fit-content;
    padding: 20px 0;

}

.carousel {
    height: fit-content;
    width: 450px;
}

.carousel img {
    flex: 1 1 auto;
    scroll-snap-align: start;
    width: fit-content;
    max-height: 450px;
    object-fit: contain;
}

.sec_1 .details div {}


.paths {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: end; */
    gap: 10px;
    padding: 20px 0;
}

.sec_1 .details .product_name {
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-weight: 700;
    color: green;

}


.sec_1 .details {
    padding: 0 10px;
    max-width: 600px;
    height: fit-content;
}

.ratings {
    width: 100%;
    font-size: 0.6rem;
    color: rgb(198, 198, 16);
    display: flex;
    align-items: center;
    gap: 3px;
}

.ratings span:last-child {
    color: black;
    font-weight: 500;
    font-size: 0.8rem;
}

.price_quantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0;
}

.price_quantity div {
    height: 80px;
}

.price {
    padding: 20px 0;
    width: 50%;
    max-width: 150px;
    font-size: 2.2rem;
    border-bottom: 1px solid #ccc;
}

.price .salePrice {
    color: rgb(189, 0, 0);
    font-weight: 700;
}

.originalPrice {
    width: fit-content;
    padding: 20px;
    color: rgb(84, 81, 81);
    text-decoration: line-through;
    font-weight: 500;
    font-size: 1rem;
}

.quantity {
    width: 50%;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.quantity div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    cursor: pointer;
}

.description {
    color: #565353;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 20px 0;
}



.action_btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 5px;
}

.action_btn button {
    border-radius: 1px;
    width: 100%;
    max-width: 600px;
}

.action_btn button:nth-child(1) {
    background-image: unset;
    background-color: unset;
    color: green;
    border: 1px solid green;
}

.action_btn button:nth-child(2) {
    background-image: unset;
    background-color: green;
}

.quick_links {
    width: 100%;
    padding: 0 5px;
}


.quick_links ul {
    /* padding: 0 16px; */
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 2px;
    flex-wrap: wrap;
}

.quick_links ul li {
    width: fit-content;
    height: fit-content;
    color: black;
    background-color: #ccc;
    font-size: 10px;
    border-radius: 20px;
    padding: 5px 9px;
    /* margin: auto; */
}

.sec {
    padding: 40px;
}

.detail_title {
    padding: 10px;
}

.detail_para {
    padding: 10px 19px;
}

.other_details {
    padding: 10px;
}

.other_details div {
    padding: 10px;
}

.notes ul {
    /* padding: 10px; */
}

.notes li {
    padding: 10px 5px;
}

.more_products {
    width: 100%;
}