.product_card {
  background: var(--card-background);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;

  min-width: 180px;
  max-width: 300px;
  max-height: 450px;
  min-height: 320px;
  width: 40vw;
  height: 40vw;
}

/* Product Image */
.product_image {
  max-height: 50vw;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

/* Product Info */
.product_info {
  padding: 15px;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.product_info a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product_info a span:nth-child(2) {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 50%;
}

/* Product Name */
.product_name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

/* Product Price */
.product_price {
  font-size: 16px;
  color: #27ae60;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Action Buttons */
.product_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.product_btn {
  flex: 1;
  margin: 5px;
  padding: 10px;
  height: 30px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn_wishlist {

  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0px;
}


.skeleton_image {
  width: 95%;
  margin: 2px auto;
  height: 70%;
  background-color: var(--loading-color);
  animation: skeleton 0.2s linear infinite;
}

.skeleton_card {
  min-height: 400px;
}

.skeleton_text_1 {
  width: 60%;
  animation: skeleton 0.2s linear infinite;
  height: 10px;
  border-radius: 10px;
  background-color: var(--loading-color);
  text-align: center;
  margin: 4px auto;

}

.skeleton_text_2 {
  text-align: center;
  width: 50px;
  animation: skeleton 0.2s linear infinite;
  background-color: var(--loading-color);
  height: 7px;
  border-radius: 10px;
  margin: 4px auto;
}

@keyframes skeleton {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;

  }
}



@media screen and (max-width : 700px) {
  /* .product_actions {
    flex-direction: column;
  } */

  .product_info {
    max-height: 70px;
  }


  .product_name {
    font-size: 3.2vw;
    margin: 0 0 5px;
  }

  .product_price {
    margin: 0;
  }
}