/* Product Card */
.productCard,
.productSkeleton {
  flex: 1 1 auto;
  scroll-snap-align: start;
  width: 27vw;
  min-width: 300px;
  min-height: 380px;
  height: fit-content;
  max-height: fit-content;
  max-width: 450px;
  border-radius: var(--border-radius);
  margin: 0 3px;
  cursor: pointer;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid green;
  max-width: 340px;
}


.productCard .product_img,
.imageSkeleton {
  width: 100%;
  object-fit: contain;
  height: 330px;
  transition: all 0.4s;
  display: block;

}


.product_name {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product_name h3 {
  font-size: 18px;
  padding: 10px 20px;
  color: var(--heading-color);
}


.product_info {
  top: 0;
  display: block;
  /* position: absolute; */
  height: 100%;
  transform: translateY(0);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  /* max-width: 300px; */
}



.hidden_details {
  /* display: none; */
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details_sec,
.top_detial_sec {
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
}

.top_detial_sec section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  padding: 0 10px;
  width: 100%;

}

.hidden_price {
  font-size: 24px;
  font-weight: 600;
  color: var(--heading-color);
}

.details_sec img {
  width: 100px;
  height: 100px;
}

/* category */
.category {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

.hidden_category {
  padding: 2px 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 12px;
}

.action_btn {
  width: 100%;
  min-width: 200px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;

}


.action_btn button {
  width: 100%;
  padding: 8px 28px;
  border-radius: 8px;
  /* padding: 8px; */

}

.benefit_image {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.benefit_image img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 100%;
  background-color: white;

}

.productCard .link_btn,
.link_btn_full {
  padding: 10px 15px;
  max-width: fit-content;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
}

.link_btn_full {
  background: linear-gradient(20deg, var(--primary-color), rgba(0, 0, 0, 0.575), var(--primary-color));
  max-width: none;
  width: 90%;
  font-family: sans-serif;
  font-weight: 550;
  margin: auto;
}

.productSkeleton {
  flex: 1 1 auto;
  scroll-snap-align: start;
}

.imageSkeleton {
  background-color: #ccc;
}

.productSkeleton section {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.productSkeleton .skeletonText {
  width: 60%;
  height: 20px;
  border-radius: 20px;
  background-color: #ccc;


}

.skeletonButton {
  width: 50px;
  height: 40px;
  border-radius: 100%;
  background-color: #ccc;
}

@keyframes skeleton {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;

  }
}



@media screen and (max-width : 650px) {
  .productCard {
    width: 100%;
  }
}