/* Product Grid */
.product_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.product_container {
  width: 100%;
}

.product_container h1 {
  padding-left: 100px;
  line-height: 90px;
}