/* ----------- GLOBAL CONTAINER ----------- */
.product_container {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.product_container h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #111;
  margin-bottom: 2rem;
}

.product_container h2 span {
  color: #15803d;
}

/* ----------- PRODUCT GRID ----------- */
.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: start;
}

.empty {
  text-align: center;
  color: #666;
  font-size: 1.1rem;
  grid-column: 1 / -1;
  margin-top: 2rem;
}

/* ----------- HERO SECTION ----------- */
.hero {
  background: linear-gradient(135deg, #e9f7ee 0%, #ffffff 100%);
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContent {
  max-width: 1100px;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.heroText {
  flex: 1;
  min-width: 300px;
}

.heroText h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #111;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.heroText h1 span {
  color: #15803d;
}

.heroText p {
  font-size: 1.05rem;
  color: #444;
  max-width: 500px;
  line-height: 1.6;
}

.heroImage {
  /* flex: 1; */
  /* min-width: 0; */
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.heroImage img {
  border-radius: 1rem;
  /* box-shadow: 0 8px 20px rgba(0,0,0,0.1); */
  object-fit: contain;
  transition: transform 0.4s ease;
}

.heroImage img:hover {
  transform: scale(1.03);
}

/* ----------- RESPONSIVE ----------- */
@media (max-width: 768px) {
  .hero {
    padding: 0;

  }
  .heroContent {
    /* flex-direction: column;
    text-align: center; */
    gap: 0;
    justify-content: center;
  }

  .heroText{
    max-width: calc(100% - 120px);
  }
  .heroText h1 {
    font-size: 1rem;
  
  }
  .heroText p {
    font-size: 0.8rem;
  }
  .heroImage {
    width: 50px;
    height: 100px;
  }

  .heroImage img {
    width: 50px;
    height: 100px;
    object-fit: contain;
  }

  .product_container {
    padding: 3rem 1rem;
  }

  .product_list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
