.carouselContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  gap: 16px;
  padding: 10px;
  scroll-behavior: smooth;
  width: 90%;
}

/* Hide scrollbar for Webkit-based browsers */
.scrollContainer::-webkit-scrollbar {
  display: none;
}

.productCard {
  flex: 0 0 auto;
  width: 25vw;
  height: 30vw;
  min-height: 300px;
  max-height: 400px;
  min-width: 320px;
  max-width: 400px;
  scroll-snap-align: start;
  background: #fff;
  border-radius: 10px;
  /* padding: 10px; */
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productCard img {
  width: 100%;
  height: 60%;
  object-fit: contain;
  border-radius: 8px;
}

.productCard a {
  padding: 10px 20px;
  background-color: rgb(75, 27, 27);
  border-radius: 30px;
  color: white;
}

.product_info {
  height: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0 !important;
  margin: 0;
}

.scrollBtn {
  background: #ddd;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}

.scrollBtn:hover {
  background: #bbb;
}