/* Product Card */
.productCard {
  flex: 1 1 auto;
  scroll-snap-align: start;
  width: 20vw;
  min-width: 300px;
  min-height: 300px;
  height: fit-content;
  border-radius: var(--border-radius);
  margin: 0 3px;
  /* box-shadow: var(--box-shadow); */
  /* background-color: var(--card-background); */
  cursor: pointer;
  position: relative;
  /* scale: 0.8; */
}

.product_info {
  height: fit-content;
  width: 90%;
  text-align: left;
  padding: 10px;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;

}

.product_info h3 {
  font-size: 18px;
  padding: 10px 20px;
  color: var(--heading-color);
}

.productCard img {
  width: 100%;
  object-fit: contain;
  height: 400px;
  transition: all 0.4s;

}

.productCard:hover img {
  scale: 0.8;
}

.action_btn {
  display: none;
  position: absolute;
  background: linear-gradient(180deg, transparent, var(--card-background));
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.4s;
  top: 0;
  left: 0;

}

.productCard:hover .action_btn {
  display: flex;

}

.action_btn button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 100%;
  padding: 8px;

}


.productCard a {
  padding: 10px 15px;
  max-width: fit-content;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
}



.skeleton_image {
  width: 95%;
  margin: 2px auto;
  height: 70%;
  background-color: var(--loading-color);
  animation: skeleton 0.2s linear infinite;
}

.skeleton_card {
  min-height: 400px;
}

.skeleton_text_1 {
  width: 60%;
  animation: skeleton 0.2s linear infinite;
  height: 10px;
  border-radius: 10px;
  background-color: var(--loading-color);
  text-align: center;
  margin: 4px auto;

}

.skeleton_text_2 {
  text-align: center;
  width: 50px;
  animation: skeleton 0.2s linear infinite;
  background-color: var(--loading-color);
  height: 7px;
  border-radius: 10px;
  margin: 4px auto;
}

@keyframes skeleton {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;

  }
}



@media screen and (max-width : 650px) {
  .productCard {
    width: 100%;
  }
}