.cardBackground{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    border-radius: 20px;
    background: linear-gradient(135deg, #1c1c1db3, #131313dd);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.promoPrompt {
    background: linear-gradient(135deg, #ecfff2, #c2c2c2);
    border-radius: 20px;
    padding: 32px;
    max-width: 420px;
    color: black;
    position: relative;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    text-align: center;
}

.promoPrompt h2 {
    margin-bottom: 16px;
    font-size: 24px;
    color: rgb(0, 0, 0);
}
.promoCodeBox {
    margin: 20px 0;
    padding: 16px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.promoLabel {
    display: block;
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 4px;
}

.promoCode {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.ctaButton {
    margin-top: 16px;
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    background: #0a7933;
    color: #dedede;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    color: rgb(255, 0, 0);
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: none;
}
