.container {
    width: 100%;
    min-height: 500px;
}

.header,
.sub_header {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
}

.sub_header p {
    font-size: 10px;
}

.terms {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;

}

.terms section {
    padding: 20px 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.terms section p {
    padding: 20px;
    font-weight: 300;

}

.terms section ul {
    padding: 20px 40px;
}

.terms section ul li {
    padding: 10px;
}

.bottom {
    width: 100%;
    text-align: center;
    padding: 100px;
}