.track_order_container {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.order_details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
}

.order_item {
    margin: 10px 0;
}

.order_item strong {
    font-weight: bold;
}

.order_item p {
    margin: 0;
}