.profile_container_loading {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
  min-height: 90vh;
}

.profile_container {
  padding: 20px;
}

.profile_card {
  background: #E6F4EA;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

