.profile_container_loading {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
  min-height: 90vh;
}


.profile_card,
.skeleton_card {
  margin: 0 auto 20px;
  width: calc(100% - 260px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.13);
  transition: transform 0.3s ease-in-out;
  height: calc(100vh - 180px);
  height: fit-content;
}

.top_name {
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  /* padding: 20px; */
  color: green;
}

.profile_card section h3 {
  font-weight: 800;
  font-size: 1.5rem;
}

.top_name_left .bars,
.aside button {
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  padding: 5px;
  color: white;
  display: none;
  margin: 4px;
}

.username {
  font-weight: bolder;
}

.userid {
  font-size: 0.8rem;
  color: rgb(50, 71, 50);
  padding: 20px;
}

.profile_card .user_detail {
  padding: 20px;
  width: 100%;
}

.orders a {
  display: block;
  padding: 7px;
  color: rgb(68, 63, 63);
  margin: 2px 0;
  /* box-shadow: 0 2px 20px -5px rgba(114, 106, 106, 0.273); */
  border-bottom: 1px solid rgba(132, 129, 129, 0.141);
}

.orders a:hover {
  background-color: var(--list-hover-bg);
}

.profile_card .user_detail td:nth-child(1) {
  padding: 5px 0;
  text-transform: capitalize;
  font-weight: 600;
}

.profile_card section {
  padding: 20px;
  /* background-color: var(--profile-secondary-color); */
  margin: 10px 0;
}

.address_plate {
  border-bottom: 1px solid rgba(203, 200, 200, 0.463);
  width: 100%;
  padding: 4px;
  margin: 2px 0;
}

.address_plate tr {
  border-bottom: 1px solid rgba(131, 126, 126, 0.195);

}

.address_plate tr:nth-child(1):hover {
  background: unset;

}

.address_plate tr:hover {
  background: var(--list-hover-bg);
}

.address_plate td,
.address_plate th {
  padding: 3px;
  text-align: left;
  overflow: hidden;
  padding: 10px 0;
}

.addr_action {
  display: flex;
}

.addr_action span {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
  background-color: green;
  margin: 0 1px;
  color: white;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.addr_action span:hover {
  transform: translateY(-1px);
}

.customer_services {
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.customer_services a {
  display: block;
  padding: 10px;

  border-bottom: 1px solid rgba(131, 126, 126, 0.195);
}

.customer_services a:hover {
  background: var(--list-hover-bg);
}

.productCard {
  width: 150px;
  height: 150px;
  display: inline-flex;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 0 20px -12px rgba(0, 0, 0, 0.196);

}



.skeleton_card {
  background: var(--loading-solid-color);
  min-height: 80vh;
}


.skeleton_header {
  width: 50%;
  height: 9px;
  margin: 30px 0;
  background: var(--loading-color-2);
  background-size: var(--loading-bg-size);
  animation: var(--loading-animation)
}

.skeleton_row {
  height: 6px;
  margin: 10px 0;
  background: var(--loading-color-2);
  background-size: var(--loading-bg-size);
  animation: var(--loading-animation);
}

.skeleton_section {
  margin: 10px 0;
  width: 100%;
  height: 150px;
  background: var(--loading-color-2);
  background-size: var(--loading-bg-size);
  animation: var(--loading-animation);
}


@media screen and (max-width : 900px) {
  .profile_card section {
    padding: 2px;
  }

  .profile_container,
  .skeleton_container {
    justify-content: center;
  }

  .profile_card,
  .skeleton_card {
    width: 100%;
  }

  .address_plate {
    font-size: 0.8rem;
  }

  .top_name_left .bars,
  .aside button {
    display: inline-flex;
    padding: 5px;
  }
}